.container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
  }
  
  .messages {
    margin-bottom: 20px;
    /* height: 300px; */
    overflow-y: auto;
  }
  
  .message {
    background-color: #6d6c6c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .fileInfo {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
  }
  
  .timestamp {
    font-size: 0.7em;
    color: #ffffff;
    text-align: right;
    margin-top: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .textInput {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    color: black;
  }
  
  .fileButton {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
  }
  
  .fileName {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 0.8em;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .clearFile {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .btn-opt{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .searchButton,
  .reasonButton,
  .activeButton,
  .inactiveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .searchButton,
  .reasonButton
   {
    color: #666;
    border: solid 1px #666;
  }

  
  .activeButton {
    color: #007bff;
  }
  
  .inactiveButton {
    color: #666;
    cursor: not-allowed;
  }