
.container {
    max-width: 800px;
    min-width: 340px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: white;
    margin-top: 100px;
  }
.messages {
  margin-bottom: 1rem;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.message-role{
  font-weight: bold;
}
.message {
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
  align-self: flex-start;
}
.fileInfo {
  font-size: 0.9rem;
  color: #4a5568;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
  .form {
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  .inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }
  .textInput {
    width: 100%;
    min-height: 3rem;
    height: auto;
    padding: 0.75rem;
    border-radius: 0.5rem;
    resize: none;
    line-height: 1.5;
    transition: all 0.2s ease;
    outline: none;
    color: black;
  }
  .fileButton {
    background: none;
    border: solid 5px #666;
    color: #666;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
  }
  .fileButton:hover{
    color:#007bff;
    border: #007bff solid 5px;
  }
  .fileName {
    position: absolute;
    top: -55px;
    left: 0;
    font-size: 0.8em;
    background-color: #f0f0f0;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .clearFile {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
  }
  .clearFile:hover{
    color:#007bff
  }
  .buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .btn-opt{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .searchButton,
  .reasonButton,
  .activeButton,
  .inactiveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .searchButton,
  .reasonButton
   {
    color: #666;
    border: solid 1px #666;
  }
  .activeButton {
    color: #007bff;
  }
  
  .inactiveButton {
    color: #666;
    cursor: not-allowed;
  }