/* LIGHT MODE STYLES (default) */
.main-header {
    background-color: #f8f8f8; /* light background */
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
  }
  
  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-nav li {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    color: #333;
  }
  .action-buttons {
    display: flex;
    gap: 20px;
  }
  
  .main-nav li:hover {
    color: #0070f3;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* DARK MODE STYLES */
  .dark .main-header {
    background-color: #000; /* dark background */
    border-bottom: 1px solid #333;
  }
  
  .dark .main-nav li {
    color: #fff;
  }
  
  .dark .main-nav li:hover {
    color: #ffcc00;
  }
  