/* SideWindow.css */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Start off-screen */
    width: 250px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    transition: left 0.3s ease-in-out; /* Add transition */
}

.sidebar.open {
    left: 0; 
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.close-button:hover{
    color:#0070f3;
}
