@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */
.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: #f0f0f0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
/* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
}
